name: Build Desktop App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Restore NuGet
      run: nuget restore

    - name: Build Project
      run: msbuild -p:Configuration=Release -p:Platform="Any CPU"

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: OutlookApp
        path: |
           **/bin/Release/**/*.exe
           **/bin/Release/**/*.dll
           **/bin/Release/**/*.json
